body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
  background-color: #24273a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b7bdf8;
  padding: 20px;
}

.avatar img {
  width: 200px; 
  height: 200px;
  border-radius: 50%;
}

.content {
  text-align: left;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

a {
  color: #b7bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
