
body {
    background-color: #24273a;
    color: #b7bdf8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile-image {
    border-radius: 50%;
    max-height: 200px;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text {
    text-align: right;
}

.big-text {
    font-size: 2em; 
}


