body {
  background-color: #0f3057; /* Dark bluish background color */
  color: white; /* Text color */
}

.container {
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
}

a img {
  width: 100px; /* Adjust the width of the Discord logo */
}
